.reports-container {
    padding: 20px;
  }
  
  .error-message {
    color: red;
    margin-bottom: 15px;
  }
  
  mat-list-item {
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  
  mat-list-item mat-icon {
    margin-right: 15px;
  }
  