<div class="container">
    <button mat-raised-button color="primary" routerLink="/home" class="home-button">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </button>

    <mat-card class="form-card">
        <form [formGroup]="signupForm" (ngSubmit)="signup()">
            <h2>Signup</h2>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Full Name</mat-label>
                    <input autocomplete="off" formControlName="displayName" type="text" matInput placeholder="Display Name">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" type="email" matInput placeholder="Email">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input autocomplete="off" formControlName="password" type="password" matInput placeholder="Password">
                </mat-form-field>
            </p>
            <div *ngIf="firebaseErrorMessage != ''" class="error-style">
                <span>{{ firebaseErrorMessage }}</span>
            </div>

            <button mat-raised-button color="primary">Signup</button>
        </form>

        <!-- Show the Login button if the email is already in use -->
        <div *ngIf="showLoginButton" class="login-button-container">
            <button mat-raised-button color="accent" routerLink="/login" class="login-button">Go to Login</button>
        </div>
    </mat-card>
</div>
