<nav>
  <div class="navbar">
    <button class="home-btn" (click)="goHome()">Home</button>
    <h2>Users Management</h2>
  </div>
</nav>

<h3>Regular Users</h3>
<table *ngIf="users$">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Phone Number</th>
      <th>UID</th>
      <th>Created At</th>
      <th>Account Type</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users$ | async">
      <td>{{ user.email }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.phoneNumber }}</td>
      <td>{{ user.uid }}</td>
      <td>{{ user.createdAt?.toDate() | date:'medium' }}</td>
      <td>{{ user.accountType }}</td>
      <td>{{ user.status }}</td>
    </tr>
  </tbody>
</table>

<h3>Admins</h3>
<table *ngIf="admins$">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Phone Number</th>
      <th>UID</th>
      <th>Created At</th>
      <th>Account Type</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let admin of admins$ | async">
      <td>{{ admin.email }}</td>
      <td>{{ admin.name }}</td>
      <td>{{ admin.phoneNumber }}</td>
      <td>{{ admin.uid }}</td>
      <td>{{ admin.createdAt?.toDate() | date:'medium' }}</td>
      <td>{{ admin.accountType }}</td>
      <td>{{ admin.status }}</td>
    </tr>
  </tbody>
</table>
